<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <title>Algoritmos</title>
  </head>
  <body>
    <main>
      <h1><%= titulo %></h1>
      <h3><%= integrantes %></h3>
      
    </main>
    <h3>Escolha um dos algoritmo:</h3>
    <a href ="/contador">1) Contador</a><br>
    <a href ="/fibonacci">2) Fibonacci</a><br>
    <a href ="/mdc">3) mdc</a><br>
    <a href ="/primo">4) Primo</a><br>
    <a href ="/quicksort">5) Quicksort</a><br>
    <a href ="/somatorio">6) Somatorio</a>
  </body>
</html>
