<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/quicksort.css"/>
    <title>QuickSort</title>
</head>
<body>
    <h1>Algoritmo Quick Sort</h1>
    <h3>Digite, de forma aleatória e separando com vírgulas, uma sequência de números:</h3>
    <h3>Exemplo de entrada: 32,4,-2,12</h3>
    <form method="POST" action="/quicksort">
        <input name="a" type="text"/>
        <button type="submit">Enviar</button>
    </form>
    
    <p><%= resultado %></p>

    <a href ="/">Voltar</a>
</body>
</html>
